# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener
cmd/shortener/store
# Dependency directories (remove the comment below to include it)
vendor/
store

# IDEs directories

.idea
.vscode
store_shortener.db
.DS_Store
cmd/shortener/store_shortener.db
cmd/shortener/__debug_bin